{% extends 'content/home.html'%}
{% block content %}
<div class="row g-5">
    <div class="col-md-8">
        {% for content in contents %}
      <article class="content-item">
        <!-- Заголовок статьи -->
        <h2 class="content-title">{{ content.title }}</h2>

        <!-- Основной текст -->
        <div class="content-body">
            {{ content.body|safe }}
        </div>
          {% if user.is_authenticated and user == content.owner %}
                    <a href="{% url 'content:content_update' content.pk %}"
                       class="btn btn-primary">
                        Редактировать
                    </a>

                    <a href="{% url 'content:content_delete' content.pk %}"
                       class="btn btn-primary">
                        Удалить
                    </a>
                    {% endif %}
      </article>
        {% endfor %}
    </div>
</div>

{% endblock %}
